<aside class="info">
  <div class="info-block">
    <span class="rotate"><a href="tel:+358 040 123 456">+358 040 123 456</a></span>
    <span class="rotate"><a href="mailto:moi@bardot.fi">moi@bardot.fi</a></span>
  </div>
  <div class="info-block">
    <span class="rotate">Kluuvikatu 1,</span>
    <span class="rotate">00100 Helsinki</span>
  </div>
  <div class="info-block">
    <span class="rotate">Open:</span>
    <span class="rotate">16.00 — Till late</span>
  </div>
  <div class="info-block">
    <span class="rotate">Food, Wines</span>
    <span class="rotate">& Cocktails</span>
  </div>
</aside>
