<img class="elem logo draggable" src="./assets/css/images/logo.svg"/>
<img class="elem big-spot draggable" src="./assets/css/images/layout1/big-red-spot.png"/>
<img class="elem bottle draggable" src="./assets/css/images/layout1/bottle.png"/>
<img class="elem small-spot draggable" src="./assets/css/images/layout1/small-red-spot.png"/>
<img class="elem guys draggable" src="./assets/css/images/layout1/guys.png"/>
<img class="elem text2 draggable" src="./assets/css/images/layout1/text-gold.svg"/>
<img class="elem text1 draggable" src="./assets/css/images/layout1/text-black.svg"/>
