<img class="elem logo draggable" src="/assets/css/images/logo.svg"/>
<img class="elem big-spot draggable" src="/assets/css/images/layout3/big-pink-spot.svg"/>
<img class="elem small-spot draggable" src="/assets/css/images/layout3/small-pink-spot.svg"/>
<img class="elem rooster draggable" src="/assets/css/images/layout3/rooster.svg"/>
<img class="elem person draggable" src="/assets/css/images/layout3/person.svg"/>
<img class="elem text2 draggable" src="/assets/css/images/layout3/text-gold2.svg"/>
<img class="elem leaves draggable" src="/assets/css/images/layout3/leaves2.svg"/>
<img class="elem text1 draggable" src="/assets/css/images/layout3/text-black2.svg"/>
