<img class="elem logo draggable" src="/assets/css/images/logo.svg"/>
<img class="elem blue-spot draggable" src="/assets/css/images/layout2/blue-spot.svg"/>
<img class="elem fish draggable" src="/assets/css/images/layout2/fish.svg"/>
<img class="elem seagrass draggable" src="/assets/css/images/layout2/seagrass.svg"/>
<img class="elem lady draggable" src="/assets/css/images/layout2/lady.svg"/>
<img class="elem alacarte draggable" src="/assets/css/images/layout2/alacarte.svg"/>
<img class="elem bonappetit draggable" src="/assets/css/images/layout2/bonappetit.svg"/>
<img class="elem leaves draggable" src="/assets/css/images/layout2/leaves.svg"/>
