<img class="elem logo" src="/assets/css/images/logo.svg"/>
<img class="elem big-spot" src="/assets/css/images/layout3/big-pink-spot.svg"/>
<img class="elem small-spot" src="/assets/css/images/layout3/small-pink-spot.svg"/>
<img class="elem rooster" src="/assets/css/images/layout3/rooster.svg"/>
<img class="elem person" src="/assets/css/images/layout3/person.svg"/>
<img class="elem text2" src="/assets/css/images/layout3/text-gold.svg"/>
<img class="elem leaves" src="/assets/css/images/layout3/leaves.svg"/>
<img class="elem text1" src="/assets/css/images/layout3/text-black.svg"/>
