<img class="elem logo" src="/assets/css/images/logo.svg"/>
<img class="elem blue-spot" src="/assets/css/images/layout2/blue-spot.svg"/>
<img class="elem fish" src="/assets/css/images/layout2/fish.svg"/>
<img class="elem seagrass" src="/assets/css/images/layout2/seagrass.svg"/>
<img class="elem lady" src="/assets/css/images/layout2/lady.svg"/>
<img class="elem alacarte" src="/assets/css/images/layout2/alacarte.svg"/>
<img class="elem bonappetit" src="/assets/css/images/layout2/bonappetit.svg"/>
<img class="elem leaves" src="/assets/css/images/layout2/leaves.svg"/>
