<div class="sheet-header--wrapper">
  <h2 class="sheet-header">Starter</h2>
</div>
<div class="sheet-content">
  <div class="sheet-row">
    <div class="sheet-info">
      <div class="sheet-info--main">Monteleone mozzarella</div>
      <div class="sheet-info--add">Roasted eggplant basil & espelette granola, chick pea creamsadksdlkjaslkjdklasjdj</div>
    </div>
    <div class="sheet-price">23</div>
  </div>
  <div class="sheet-row">
    <div class="sheet-info">
      <div class="sheet-info--main">Bretty octopus gf</div>
      <div class="sheet-info--add">Potato, smoked mayonnaise, seaweed butter, chili, spinach </div>
    </div>
    <div class="sheet-price">15</div>
  </div>
  <div class="sheet-row">
    <div class="sheet-info">
      <div class="sheet-info--main">Crayfish toasted sandwich</div>
      <div class="sheet-info--add">Brioche, horokaka, lemon curd, basil</div>
    </div>
    <div class="sheet-price">14</div>
  </div>
  <div class="sheet-row">
    <div class="sheet-info">
      <div class="sheet-info--main">Smoked mikkola omelette gf </div>
      <div class="sheet-info--add">A classic. Organic eggs, hollandaise, watercress</div>
    </div>
    <div class="sheet-price">8</div>
  </div>
</div>
