.info {
  font-size: 18px;
  line-height: 22px;
  position: relative;
  z-index: 2;
  margin-left: percentage(40/1440);
  margin-bottom: percentage(40/1440);
  width: 55px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  justify-content: space-between;
  .rotate {
    writing-mode:vertical-rl;
    transform:scale(-1);
  }
@include mobile-only {
  width: 33px;
  margin-left: percentage(12/375);
  margin-bottom: 70px;
  font-size: 12px;
  line-height: 14px;

  .horizontal & {
    height: auto;
    width: auto;
    color: $brown;
    flex-direction: column-reverse;
    justify-content: start;
      margin-bottom: 42px;
    a {
      color: $brown;
    }
    &-block {
      margin-bottom: 17px;
    }
    .rotate {
      writing-mode: initial;
      display: block;
      transform:none;

    }
  }
}
}
