a {
  color: $black;
  outline: none;
  text-decoration: none;
}
.refresh {
  position: absolute;
  @include d-position(1367, 40);
  @include mobile-only {
    @include m-position(333, 18.05);
  }
  z-index: 100;
  &-button {
    width: 33px;
    height: 35px;
    cursor: pointer;
    @include mobile-only {
      width: 23px;
      height: 25px;
    }
    display: block;
    background: url('images/refresh.svg') center center no-repeat;
    background-size: contain;
  }
  .page-menu & {
    .refresh-button {
      background: url('images/refresh-menu.svg') center center no-repeat;
      background-size: contain;
      position: fixed;
      @include mobile-only {
        display: none;
      }
    }
  }
}
