.page-home {
  display: flex;
  height: 100vh;
  position: relative;
  @include mobile-landscape {
    min-height: 667px;
  }
}

.main {
  flex: 1;
  &-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }
}
.layout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  &-block {

    .elem {
      position: absolute;
      width: auto;
      transition: all .4s .3s ease-in;
      &.notransition {
        transition: none !important;
        cursor: url(images/move-cursor-2.svg), auto;
      }
      &.ui-draggable-dragging {
        cursor: url(images/hover-cursor-2.svg), auto;
      }
    }

    &.various0 .elem {
      &.logo {
        @include d-height(39);
        @include d-position(46, 40);
        @include mobile-only {
          @include m-height(39);
          @include m-position(12, 11);
        }
      }

      &.bottle {
        @include d-height(780);
        @include d-position(612, 122);
        @include mobile-only {
          @include m-height(397.3);
          @include m-position(143.62, 161.98);
        }
      }

      &.big-spot {
        @include d-height(378);
        @include d-position(542, 354);
        @include mobile-only {
          @include m-height(192.54);
          @include m-position(107.97, 280.15);
        }
      }

      &.small-spot {
        @include d-height(171);
        @include d-position(602, 705);
        @include mobile-only {
          @include m-height(87.1);
          @include m-position(138.53, 458.94);
        }
      }

      &.guys {
        @include d-height(212);
        @include d-position(642, 675);
        @include mobile-only {
          @include m-height(107.98);
          @include m-position(158.9, 434.49);
        }
      }

      &.text1 {
        @include d-height(180);
        @include d-position(517.04, 71.13);
        transform: rotate(-26.77deg);
        @include mobile-only {
          @include m-height(91.68);
          @include m-position(95.25, 136.07);
        }
      }

      &.text2 {
        @include d-height(69.12);
        @include d-position(521, 630.27);
        @include mobile-only {
          @include m-height(51);
          @include m-position(78, 333);
        }
      }
    }

    &.various0.mixed {
      .elem {
        &.logo {
          @include d-height(57.38);
          @include d-position(1089.31, 249.65);
          transform: rotate(116.43deg);
          @include mobile-only {
            @include m-height(39);
            @include m-position(12, 11);
            transform: rotate(0deg);
          }
        }

        &.bottle {
          @include d-height(780);
          @include d-position(758.1, -329.41);
          transform: rotate(-115.97deg);
          @include mobile-only {
            @include m-height(520.72);
            @include m-position(176.55, 121.38);
            transform: rotate(157.72deg);
          }
        }

        &.big-spot {
          @include d-height(378);
          @include d-position(809.94, 759.02);
          transform: rotate(-99.25deg);
          @include mobile-only {
            @include m-height(368.37);
            @include m-position(236.13, -36.01);
            transform: rotate(-164.37deg);
          }
        }

        &.small-spot {
          @include d-height(171);
          @include d-position(619, -75);
          @include mobile-only {
            @include m-height(120);
            @include m-position(-35.66, 392.36);
            transform: rotate(-107.76deg);
          }
        }

        &.guys {
          @include d-height(377);
          @include d-position(597, 617);
          @include mobile-only {
            @include m-height(120);
            @include m-position(131.31, 546.79);
            transform: rotate(19.86deg);
          }
        }

        &.text1 {
          @include d-height(180);
          @include d-position(-64.96,238.13);
          transform: rotate(-26.77deg);
          @include mobile-only {
            @include m-height(78.28);
            @include m-position(-132.94, 126.03);
          }
        }

        &.text2 {
          @include d-height(417);
          @include d-position(252.3, 210.44);
          transform: rotate(44.81deg);
          @include mobile-only {
            @include m-height(151);
            @include m-position(-86.47, 259.44);
            transform: rotate(31.91deg);
          }
        }
      }
    }

    &.various1 .elem {
      &.logo {
        @include d-height(39);
        @include d-position(46, 40);
        @include mobile-only {
          @include m-height(39);
          @include m-position(12, 11);
        }
      }

      &.fish {
        @include d-height(798.28);
        @include d-position(585.24, 103);
      }

      &.blue-spot {
        @include d-height(380.56);
        @include d-position(522, 311.72);
      }

      &.seagrass {
        @include d-height(363.66);
        @include d-position(522, 103);
      }

      &.lady {
        @include d-height(337);
        @include d-position(543, 185);
      }

      &.alacarte {
        @include d-height(110);
        @include d-position(522, 523);
      }

      &.bonappetit {
        @include d-height(151);
        @include d-position(764, 156);
      }

      &.leaves {
        @include d-height(353.42);
        @include d-position(764, 485);
      }
    }

    &.various1.mixed {
      .elem {
        &.logo {
          @include d-height(273.09);
          @include d-position(-72.25, 96.65);
          transform: rotate(-23.96deg);
          @include mobile-only {
            @include m-height(39);
            @include m-position(12, 11);
            transform: rotate(0deg);
          }
        }

        &.fish {
          @include d-height(878.28);
          @include d-position(812.29, 462.03);
          transform: rotate(135.63deg);
        }

        &.blue-spot {
          @include d-height(380.56);
          @include d-position(1154, -149);
        }

        &.seagrass {
          @include d-height(141);
          @include d-position(1058.44, 767.69);
          transform: rotate(50.93deg);
        }

        &.lady {
          @include d-height(337);
          @include d-position(912, 621);
        }

        &.alacarte {
          @include d-height(110);
          @include d-position(464, 591);
        }

        &.bonappetit {
          @include d-height(151);
          @include d-position(228.38, 56.34);
          transform: rotate(-10.22deg);
        }
        &.leaves {
          @include d-height(374.24);
          @include d-position(908.04, 495.28);
          transform: rotate(168.38deg);
        }
      }
    }

    &.various2 .elem {
      &.logo {
        @include d-height(39);
        @include d-position(46, 40);
        @include mobile-only {
          @include m-height(39);
          @include m-position(12, 11);
          transform: rotate(0deg);
        }
      }

      &.rooster {
        //@include d-height(440.15);
        @include d-width(526.4)
        @include d-position(465.88, 342.56);
        transform: rotate(-7.33deg);
        @include mobile-only {
          @include d-height(440.15);
          width: auto;
        }
      }

      &.big-spot {
        @include d-width(271.74)
        //@include d-height(455.07);
        @include d-position(593.21, 143);
        @include mobile-only {
          @include d-height(455.07);
          width: auto;
        }
      }

      &.small-spot {
        @include d-width(111.21)
      //  @include d-height(151.07);
        @include d-position(810.69, 234.59);
        @include mobile-only {
          @include d-height(151.07);
          width: auto;
        }
      }

      &.person {
        //@include d-height(215.76);
        @include d-width(57.82)
        @include d-position(893.61, 109.26);
        @include mobile-only {
          @include d-height(215.76);
          width: auto;
        }
      }

      &.text1 {
        @include d-width(86.85)
        //@include d-height(131.21);
        @include d-position(641.81, 658.4);
        @include mobile-only {
          @include d-height(131.21);
          width: auto;
        }
      }

      &.text2 {
        @include d-width(657.91)
        //@include d-height(129.46);
        @include d-position(231.68, 320.93);
        transform: rotate(10.72deg);
        @include mobile-only {
          @include d-height(129.46);
          width: auto;
        }
      }

      &.leaves {
        @include d-width(386.12)
        //@include d-height(578.2);
        @include d-position(561.17, 370.54);
        @include mobile-only {
          @include d-height(578.2);
          width: auto;
        }
      }
    }

    &.various2.mixed {
      .elem {
        &.logo {
          @include d-height(102.48);
          @include d-position(79.45, 819.71);
          transform: rotate(-98.7deg);
          @include mobile-only {
            @include m-height(39);
            @include m-position(12, 11);
            transform: rotate(0deg);
          }
        }

        &.rooster {
          @include d-width(388)
          //@include d-height(324.43);
          @include d-position(627.22, 490.87);
          transform: rotate(-144.92deg);
          @include mobile-only {
            @include d-height(324.43);
            width: auto;
          }
        }

        &.big-spot {
          @include d-width(413.56)
        //  @include d-height(692.57);
          @include d-position(649.05, -242.99);
          transform: rotate(-145.48deg);
          @include mobile-only {
            @include d-height(692.57);
            width: auto;
          }
        }

        &.small-spot {
          @include d-width(119.26)
          //@include d-height(162);
          @include d-position(247.77, 424.79);
          transform: rotate(-76.4deg);
          @include mobile-only {
            @include d-height(162);
            width: auto;
          }
        }

        &.person {
          @include d-width(67.49)
          //@include d-height(251.85);
          @include d-position(1081.94, 157.98);
          transform: rotate(64.49deg);
          @include mobile-only {
            @include d-height(251.85);
            width: auto;
          }
        }

        &.text1 {
          @include d-width(99)
          //@include d-height(151);
          @include d-position(1318, 626);
          @include mobile-only {
            @include d-height(151);
            width: auto;
          }
        }

        &.text2 {
          @include d-width(3372.31)
          //@include d-height(663.59);
          @include d-position(-1471.75, -221.66);
          transform: rotate(43.26deg);
          @include mobile-only {
            @include d-height(663.59);
            width: auto;
          }
        }

        &.leaves {
          @include d-width(678.06)
          //@include d-height(1015.37);
          @include d-position(-31.63, 605.04);
          transform: rotate(-71.24deg);
          @include mobile-only {
            @include d-height(1015.37);
            width: auto;
          }
        }
      }
    }
  }

}
