* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;

}
body {
  height: 100vh;
  	overflow: hidden;
    @include mobile-landscape {
      min-height: 667px;
      overflow-x:hidden;
      overflow-y: auto;
    }
  font: 300 18px/22px 'SelfModern-Italic', Helvetica, Arial;
  color: #000;
  transition: all .4s .3s ease-in;
  background: $white;
  &.page-menu {
    background: $brown2;
    overflow-x:hidden;
    overflow-y: auto;
  }
}
