* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
}
body {
  font: 300 18px/22px 'SelfModern-Italic', Helvetica, Arial;
  color: #000;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
	overflow: hidden;
}
