@mixin d-height($x) {
  height: percentage($x/1024);
}
@mixin d-width($x) {
  width: percentage($x/1440);
}
@mixin m-height($x) {
  height: percentage($x/667);
}
@mixin m-width($x) {
  width: percentage($x/375);
}
@mixin d-position($x, $y) {
  top: percentage($y/1024);
  left: percentage($x/1440);
}
@mixin m-position($x, $y) {
  top: percentage($y/667);
  left: percentage($x/375);
}


@mixin mobile-only {
	@media (max-width : $mq-tablet - 1) {
		@content;
	}
}

@mixin mobile-landscape {
	@media only screen and (max-width : $mq-tablet - 1) and (orientation: landscape) {
		@content;
	}
}

@mixin print {
  @media print {
    @content;
  }
}
