@font-face {
  font-family: 'SelfModern-Italic';
  src: url('../fonts/SelfModern-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SelfModern-Italic.woff') format('woff'),
  url('../fonts/SelfModern-Italic.ttf') format('truetype'),
  url('../fonts/SelfModern-Italic.svg#SelfModern-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
 }

 h2 {
   font-size: 30px;
   line-height: 36px;
 }
